<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--<!DOCTYPE web-app PUBLIC
            "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
            "http://java.sun.com/dtd/web-app_2_3.dtd" >-->
    <display-name>Archetype Created Web Application</display-name>
    <!--一个请求一个 servlet.-->
    <!--<servlet>
        <servlet-name>checkUsernameServlet</servlet-name>
        <servlet-class>me.reolcharm.travel.web.servlet.CheckUsernameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestVerifyCodeServlet</servlet-name>
        <servlet-class>me.reolcharm.travel.web.servlet.TestVerifyCodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestVerifyCodeServlet</servlet-name>
        <url-pattern>/testVerifyCodeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkUsernameServlet</servlet-name>
        <url-pattern>/checkUsernameServlet</url-pattern>
    </servlet-mapping>-->
    <!--filter-->
    <filter>
        <filter-name>CharchaterFilter</filter-name>
        <filter-class>me.reolcharm.travel.web.filter.CharchaterFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CharchaterFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--BaseServlet方法分发-->
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>me.reolcharm.travel.web.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/user/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>me.reolcharm.travel.web.servlet.CategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/category/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RouteServlet</servlet-name>
        <servlet-class>me.reolcharm.travel.web.servlet.RouteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RouteServlet</servlet-name>
        <url-pattern>/route/*</url-pattern>
    </servlet-mapping>

</web-app>
