<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--1. 引入配置资源 -->
    <properties resource="jdbcConfig.properties"/>
    <environments default="mysql">
        <environment id="mysql">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <!--改变写法-->
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--
    2.
    配置映射文件路径
    全类名一致.
    -->
    <mappers>
        <!--<mapper resource="me/reolcharm/day02_DynamicSQL_TableRelationleRelation/mapper/User4ResultTypeDao.xml"/>-->
        <!--批量配置映射-->
        <package name="me.reolcharm.day03_anotation.mapper"/>
    </mappers>
</configuration>